@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Press+Start+2P&display=swap');
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #EDEFF7;
}

.login_container {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 90vh;	
}

.item {
	border: 1px solid rgb(136,136,136);
    box-shadow: 0px 0px 5px #c7c7c7;
	width: 30vw;
	padding: 20px 10px 50px;
	background-color: #fff;
}

form {
	padding: 10px 10px 0 10px;
}

.input-box {
	position: relative;
	margin: 10px 0;
}

.input-box>input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14pt;
	width: 100%;
}

input::placeholder {
	color: transparent;
}

input:placeholder-shown+label {
	color: #aaa;
	font-size: 14pt;
	top: 15px;
}

input:focus+label, label {
	color: #8aa1a1;
	font-size: 10pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 1px #8aa1a1;
	outline: none;
}

input[type=submit], input[type=button] {
	background:linear-gradient(to bottom,#089EF7,#0073E6);
	border: none;
	color: white;
	border-radius: 5px;
	width: 100%;
	height: 35px;
	font-size: 14pt;
	margin-top: 10px;
	text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.check {
	text-align: right;
	font-size: 12pt;
	color: rgb(100, 100, 100);
	margin: 10px 0px;
}

input[type=submit]:hover, input[type=button]:hover {
    color: black;
    box-shadow: 0px 0px 3px #0073E6;
}

input[type=submit]:active, input[type=button]:active {
    background:linear-gradient(to bottom,#0073E6,#089EF7);
}   