@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Press+Start+2P&display=swap');
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #EDEFF7;
}

p {
	margin: 10px 5px;;
}

.sign_up_container {
	display: grid;
	justify-content: center;
	align-content: center;
	margin-top: 50px; 
}

.item {
	border: 1px solid rgb(136,136,136);
    box-shadow: 0px 0px 5px #c7c7c7;
	width: 500px;
	padding: 0 0 50px;
	background-color: #fff;
}

form {
	padding: 0 0 10px;
}

.input-box {
	position: relative;
	margin: 10px 20px;
}

.input-box>input {
	background: transparent;
	display: inline;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14pt;
	width: 80%;
}

input::placeholder {
	color: transparent;
}

input:placeholder-shown+label {
	color: #000;
	font-size: 14pt;
	top: 15px;
}

input:focus+label, label {
	color: #ccc;
	font-size: 10pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 1px #8aa1a1;
	outline: none;
}

.title:last-child {
	margin-top: 20px;
}

.title {	
    font-weight: bold;
    background: linear-gradient(to bottom,#606060,#3c3c3c);
    padding: 3px 0 5px 10px;
    font-size: 18px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 80%);
    border: 1px solid rgb(136,136,136);
    color: white;
}

.address_form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	margin-top: 20px;
}
.address_form input[type=button] {
	justify-self: end;
	margin-right: 10px;
}

.right_buttom {
	display: grid;
	justify-content: end;
}

.right_buttom input[type=button] {
	margin-right: 10px;
}

.center_buttom {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin-top: 20px;
}

.center_buttom input[type=submit] {
	justify-self: end;
}
.center_buttom input[type=button] {
	justify-self: start;
}

input[type=submit], input[type=button], input[type=reset] {    
    border: 1px solid rgb(136,136,136);
    background: linear-gradient(to bottom,#fff,#ddd);
    padding: 2px 5px;
    font-size: 18px;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

input[type=submit]:active, input[type=button]:active, input[type=reset]:active {
	background: linear-gradient(to bottom,#ddd,#fff);
}